<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :track_number %>
    <%= f.number_field :track_number %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
</div>

