<div class="container">

<h1>入荷履歴</h1>
<table class="table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>タイトル</th>
            <th>フォーマット</th>
            <th>アーティスト名</th>
            <th>発売日</th>
            <th>価格</th>
            <th>在庫数</th>
            <th></th>
        </tr>
    </thead>
</table>
<%= link_to "入荷一覧", admin_ready_items_path %>
</div>
