<div class="container">
	<h1 class="page-title">アーティスト名編集</h1>
	<%= form_with model: @artist, url: admin_artist_path(params[:id]), local: true do |f| %>
	<p><%= f.text_field :name %></p>
	<br>
	<%= f.submit "更新", class: "btn btn-sm" %>
	<% end %>
</div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
