// Place all the styles related to the admin::info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.genre-form {
	display:none;
}
.label-form {
	display:none;
}
.tax-form {
	display:none;
}
.tax_in_postage-form {
	display:none;
}