<div class="container cart t-center">

<h3 class="mb-3">注文ありがとうございました。</h3>
<h3 class="mb-5">THANK YOU !!</h3>


<%= link_to "Shopping", items_path, class: "btn btn-sm" %>
<%= link_to "注文明細", orders_path, class: "btn btn-sm" %>


<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>


</div>