<h1>ユーザTOP</h1>
 <% @items.each do |item| %>
     <p>ジャケット画像</p>
    <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, format: 'jpeg' %>


    <!-- <p>タイトル</p> -->
    <span>
    	 <%=link_to item.name, item_path(item.id) %>
    </span>

    <!-- <p>アーティスト名</p> -->
    <span>
    	<%=link_to item.artist_id, item_path(item.id) %>
    </span>

    <!-- <p>価格</p> -->
    <span>
    	<%=link_to item.prices, item_path(item.id) %>
    </span>

 <% end %>

