/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */


 // bootstrap
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

/* リセットCSS HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    overflow-wrap: break-word;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
a,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'GT America Standard', 'Helvetica Neue', 'Helvetica', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
    font-weight: 400;
    color: #db0000;
}

// 管理者側のヘッダー
header .nav {
	a {
		padding: 5px;
		margin: 10px;
		border-radius: 5px;
	}
		a:hover {
		background-color: #232F3E;
		border: 1px solid white;
		margin: 9px
		}
	}

// 管理者側のBODY
body .admin {
	background-color: #F0F1F2;
	color: #333333;
	h1,h2,h3,h4,p,li,a,{
		color: #333333;
	}
	.page-title {
		box-shadow: 5px 5px 15px #aaaaaa;
		border: 1px solid #aaaaaa;
		padding: 10px;
		margin-top: 20px;
		display: inline-block;
		border-radius: 5px;
		margin-bottom: 30px;
		background-color: white;
		font-size: 18px;
		font-weight: bold;
	}
	.table-title {
		box-shadow: 5px 5px 15px #cccccc;
		border: 1px solid #aaaaaa;
		padding: 10px;
		display: inline-block;
		margin-bottom: 10px;
		background-color: white;
		font-size: 16px;
	}
	.box-shodow {
	 box-shadow:5px 5px 10px;
}
.table {
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 15px #cccccc;
	a {
		color: blue;
	}
}

}




 @import 'bootstrap-datetimepicker';

 .m-box {
	width:280px;
	height: 280px;
	float: left;
  	padding-top: 50px;
}

.m-image {
	text-align: center;
}


.m-text {
	text-align: center;
	padding-top: 10px;
}


