/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */


 // bootstrap
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import 'bootstrap-datetimepicker';/*ここを追加*/

/* リセットCSS HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: #db0000;
    text-decoration: none;
    overflow-wrap: break-word;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'GT America Standard', 'Helvetica Neue', 'Helvetica', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
    font-weight: 400;
    color: #db0000;
}


// ユーザーTOP
.music {
	.m-box {
		width:280px;
		height: 280px;
		float: left;
	  	padding-top: 100px;
	  	text-align: center;
	  	.m-image {
	  	}
	  	.m-text {
			margin: 20px;
			.m-content {
				margin: 10px;
			}
	  	}
	}
}

// サイドバー
.sidebar {
	text-align: center;
	padding-top: 70px;

	.kensaku {
		padding-top: 50px;
		text-decoration: underline;
		border: 1px solid ;
		.search-form {
			padding-top: 20px;
			.search_text {
				margin: 20px;
			}
			.search_bottun {
				margin: 10px;
				padding-bottom: 30px;
			}
		}
	}
	.iine {

		padding-top: 50px;
		text-decoration: underline;
		border: 1px solid;
		margin-top: 70px;
		.like-music{
			padding-top: 20px;
			.number{
				text-align: left
			}
			.like-m-box{
				margin: 20px;
			}
			.like-m-image{
				margin: 10px 30px;
			}
			.like-m-text{
				margin: 20px;
				padding-bottom: 25px;
				.like-m-content {
					margin: 15px;
				}
			}
		}
	}
}

// ユーザー商品詳細
.show-image {
	margin:100px;
}

.show-text {
	margin-top:100px;
	padding-left:60px;
	.show-content {
		margin: 20px;
	}
}

.like {
	text-align: left;
}


.glyphicon-heart {
	font-size:32px;
}

.show-table {
	margin: 30px 0px 0px 100px;
}

// カート
.cart {
	padding-top: 70px;
}








